
html{
   font-size: 35px; 
}

body {
    font-size: 20px;
}
.para {
   
}

:root{ 
    --heading1-color:#6a6ad8; 
    --heading2-color:#d8796a;
}


.box-container{ 
    --width-element: 100px
    background-color: var(--heading1-color); width: 750px;
    height: 500px;
    position: relative;
    box-shadow: 20px 20px 7px 7px var(--heading1-color);

    } 
    .box{
    font-size: 30px; height: 300px; width: var(--width-element);
    } 
    .box1{
        background-color: var(--heading2-color); position: absolute;
        top: 10px;
        left: 110px;
        
    } 
    .box2{
        background-color: yellow; position: absolute;
        top: 10px;
        right: 110px;
        z-index: 4;
    }
 .box3{
    background-color: green; position: absolute;
    top: 30%;
    right: 30%;
    z-index: 3;
    }
    
    